
@import "./scss/_reset.scss";

.main {
    width: 100vw;
    height: 100vh;
    background-color: #ffb8c6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}